h1 {
  color: slateblue;
}

/*Selectores avanzados */
/*Nos permiten ser mpas especificos en la parte que queremos seleccionar*/
header {
  background-color: blanchedalmond;
}

nav ul {
  padding: 0;
  text-align: center;
  background-color: indigo;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Pseudoclases */
nav ul li a:hover {
  color: darkred;
}

/* Display */

/*Block | Inline | Inline-block */
nav ul li {
  display: inline-block;
  background-color: violet;
  width: 60px;
  padding: 8px;
  height: 20px;
  margin: 0 20px;
}

footer {
  background-color: purple;
  color: white;
  text-align: center;
}
