html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
  background-color: rgb(22, 22, 22);
}

* {
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  margin: 0;
}

header {
  text-align: center;
  background-color: rgb(22, 22, 22);
  font-family: "Darker Grotesque", serif;
}

.logo {
  margin: 5% 0;
  width: 80%;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  /*Cinzel Decorative - Almendra SC - Darker Grotesque - Manrope*/
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  padding: 3%;
  margin: 0;
}

nav {
  background-color: rgb(88, 88, 88);
  font-family: "Darker Grotesque", serif;

  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden; /* Para asegurarnos de que no haya desbordamientos */
}

/* Display */
/*Usando flexbox*/
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 15px;
  background-color: rgb(51, 51, 51);
  margin: 0;
}

nav ul li {
  padding: 8px;
  margin: 0 3%;
  /*Para quitar los marcadores */
  list-style-type: none;
}

nav ul li a {
  /*Para que el hipervinculo no se subraye*/
  text-decoration: none;
  color: white;
  font-weight: bolder;
  margin: auto;
  font-size: 1.5rem;
}
/* Pseudoclases */
/*Hover: para colocar diseño cuando se coloque cursor encima*/
nav ul li a:hover {
  color: #6acd0c;
  transition: 0.3s; /* Suavizar la transición del hover */
}


nav ul li:last-child {
  display: flex;
  flex-grow: 2;
  padding: 0;
  margin: 0;
}

nav ul li input {
  width: 100%;
  border: 2px solid;
  border-color: rgb(211, 255, 190);
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 8px;
}

[type="text"] {
  border-radius: 5px;
}

/* MAIN */
main {
  background-color: rgb(88, 88, 88);
  padding:  0 10%;
}

p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

section > p > span {
  font-weight: bolder;
  font-style: italic;
}

h2 {
  font-family: "Darker Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 4.5rem;
  color: initial;
  margin-top: 1rem;
  color: #749d4f;
}

.subtitulo-der {
  text-align: right;
}

.subtitulo-centro {
  text-align: center;
}

section > div > img {
  width: 100%;
}

.relativo {
  position: relative;
}

.absoluto {
  position: absolute;
  padding: 10px;
  margin: 0;
  bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.derecha {
  right: 0;
}

.izquierda {
  left: 0;
}

.caja {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  padding: 15px;
  margin: 10px 10px 50px 10px;
  border: 4px solid;
}

.arma {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.arma > img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.arma a {
  font-family: inherit;
  color: inherit;
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
}

/* Selector adyacente (hermanos adyacentes) "+" */
img + a:hover {
  color: #6acd0c;
}

.fijo {
  position: fixed;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  bottom: 0;
  right: 0;
  writing-mode: vertical-rl; /* Escribe el texto en vertical desde derecha a izquierda */
  transform: rotate(
    180deg
  ); /* Voltea el texto para que se lea de abajo hacia arriba */
  color: rgba(212, 212, 212, 0.685);
  background-color: rgba(55, 94, 18, 0.418);
  border: 2px solid #ffffff18;
  text-align: center;
  padding: 10px 0;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto flotante */
  z-index: 1000;
}

/* FOOTER */
/*Selector  de ID */
#pie {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(22, 22, 22);
  text-align: center;
  padding: 3%;
}

.cookie-footer {
  position: fixed; /* Siempre visible al final de la pantalla */
  bottom: 0; /* Pegado a la parte inferior */
  left: 0;
  right: 0;
  margin: 0;
  background-color: #ffffff75;
  color: #fff; /* Texto en blanco para buen contraste */
  display: flex; /* Organiza el contenido de manera horizontal */
  justify-content: center; /* Espacia el texto y el botón */
  align-items: center;
  gap: 5%;
  z-index: 1001;
}

.cookie-footer p {
  margin: 0;
  font-size: 1.3rem;
}

.cookie-footer a {
  color: rgb(211, 255, 190);
  font-size: 1.3rem;
}

.cookie-footer button {
  background-color: #739d4fc4; /* Verde para el botón */
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

.cookie-footer button:hover {
  background-color: #45a049; /* Efecto al pasar el ratón sobre el botón */
}

/* Media Queries - Tabletas */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 14px;
  }
  
  .logo {
    width: 90%;
  }

  h1 {
    font-size: 3.5rem;
  }

  nav ul {
    padding: 2.5rem;
  }

  nav ul li a {
    font-size: 1.5rem; 
  }

  h2 {
    font-size: 3.2rem;
    margin-top: 2rem;
  }

  p {
    font-size: 1.4rem;
  }

  section > div > img {
    width: 100%;
  }

  .absoluto {
    font-size: 2.5rem;
  }

  /* Armas */
  .caja {
    padding: 10px;
    margin-bottom: 20px;
  }

  .arma {
    margin: 20px 0; 
  }

  .arma > img {
    width: 40%; 
  }

  .arma > a {
    font-size: 1.4rem;
  }

  /* Footer */
  #pie {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }

  #pie > p {
   padding: 0rem 8rem 1rem 8rem;
  }

  .cookie-footer {
    padding: 1%;
    text-align: center;
  }

  .cookie-footer p {
    font-size: 1.3rem; 
    padding: 0;
  }

  .cookie-footer a {
    font-size: 1.2rem; 
    margin-bottom: 5px;
  }
}

/* Media Queries - Télefonos */
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }

  .logo {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
    
  }
  nav ul li a {
    font-size: 1.5rem; 
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.4rem;
  }

  section > div > img {
    width: 100%;
  }

  .absoluto {
    font-size: 1.7rem;
  }

  /* Armas */
  .caja {
    flex-direction: column; 
    padding: 10px;
    margin-bottom: 20px;
  }

  .arma {
    margin: 20px 0; 
  }

  .arma > img {
    width: 35%; 
  }

  .arma > a {
    font-size: 1.4rem;
  }

  /* Footer */
  #pie {
    font-size: 1.4rem;
    margin-bottom: 70px;
  }

  .cookie-footer {
    flex-direction: column;
    padding: 1%;
    text-align: center;
  }

  .cookie-footer p {
    font-size: 1.3rem; 
    padding: 0;
  }

  .cookie-footer a {
    font-size: 1.2rem; 
    margin-bottom: 5px;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto min-content 1fr auto;
  height: 100vh; /* Vh es la altura del dispositivo*/
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer";
}

.grid-header {
  grid-area: header;
}

.grid-navbar {
  grid-area: navbar;
}

.grid-main {
  grid-area: main;
}

.grid-footer {
  grid-area: footer;
}