html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: large;
  color: white;
}

/* HEAD */
h1 {
  font-family: "Cinzel Decorative", serif;
  /*Cinzel Decorative - Almendra SC - Darker Grotesque - Manrope*/
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin: 10px;
}

/*Selectores avanzados */
header {
  text-align: center;
  background-color: rgb(88, 88, 88);
  font-family: "Darker Grotesque", serif;
}

nav ul {
  padding: 15px;
  text-align: center;
  background-color: rgb(51, 51, 51);
}

a {
  /*Para que el hipervinculo no se subraye*/
  text-decoration: none;
}

nav ul li a {
  color: white;
}

/* Pseudoclases */
/*Hover: para colocar diseño cuando se coloque cursor encima*/
nav ul li a:hover {
  color: #6acd0c;
}

[type="text"] {
  border-radius: 5px;
}

/* Display */
/*Block | Inline | Inline-block */
nav ul li {
  display: inline-block;
  width: 60px;
  padding: 8px;
  height: 20px;
  margin: 0 20px;
}

/* BODY */
body {
  background-color: rgb(88, 88, 88);
}

h2 {
  font-family: "Darker Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: xx-large;
  color: initial;
}

/* MAIN */
.caja {
  padding: 15px;
  border: 4px solid;
  margin: 20px 0px;
  box-sizing: border-box;
}

.arma {
  text-align: center;
  background-color: rgb(88, 88, 88);
  border: 4px solid;
  border-color: transparent;
  display: inline-block;
}

/*Hijo directo ">" */
.arma > img {
  display: block;
}

.arma a {
  font-family: inherit;
  color: inherit;
}

/* Selector adyacente (hermanos adyacentes) "+" */
img + a:hover {
  color: #6acd0c;
}

/* FOOTER */
/*Selector  de ID */
#pie {
  background-color: rgb(0, 0, 0);
  text-align: center;
}
