html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
  background-color: rgb(22, 22, 22);
}

* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh; /* Vh es la altura del dispositivo*/
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer";
}

.grid-header {
  grid-area: header;
}

.grid-navbar {
  grid-area: navbar;
}

.grid-main {
  grid-area: main;
}

.grid-footer {
  grid-area: footer;
}

/* BODY */
body {
  margin: 0;
}

header {
  text-align: center;
  background-color: rgb(22, 22, 22);
  font-family: "Darker Grotesque", serif;
}

.logo {
  margin: 5% 0;
  width: 80%;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  /*Cinzel Decorative - Almendra SC - Darker Grotesque - Manrope*/
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  padding: 3%;
  margin: 0;
}

nav {
  background-color: rgb(88, 88, 88);
  font-family: "Darker Grotesque", serif;

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Display */
/*Usando flexbox*/
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 15px;
  background-color: rgb(51, 51, 51);
  margin: 0;
}

nav ul li {
  padding: 8px;
  margin: 0 3%;
  /*Para quitar los marcadores */
  list-style-type: none;
}

nav ul li a {
  /*Para que el hipervinculo no se subraye*/
  text-decoration: none;
  color: white;
  font-weight: bolder;
  margin: auto;
  font-size: 1.5rem;
}
/* Pseudoclases */
/*Hover: para colocar diseño cuando se coloque cursor encima*/
nav ul li a:hover {
  color: #6acd0c;
  transition: 0.3s; /* Suavizar la transición del hover */
}

nav ul li:last-child {
  display: flex;
  flex-grow: 2;
  padding: 0;
  margin: 0;
}

nav ul li input {
  width: 100%;
  border: 2px soild;
  border-color: rgb(211, 255, 190);
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 8px;
}

[type="text"] {
  border-radius: 5px;
}

/* MAIN */
main {
  background-color: rgb(88, 88, 88);
  padding: 0 10%;
}

h2 {
  font-family: "Darker Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 4.5rem;
  margin: 50px 0 0 0;
  color: #749d4f;
}

h3 {
  font-size: 2.2rem;
}

p {
  padding: 0.5rem 0;
  font-size: 1.7rem;
}

.contenedor {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px;
  margin: 0;
}

.final {
    margin-bottom: 4em;
}

.card-image {
  width: 25%;
  height: auto;
  border-radius: 8px;
}

.card-description {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px;
    width: 100%;
}

.card-description p {
  margin: 0px 0px 0.5em 0px;
}

.card-description p > span {
  font-weight: bolder;
  font-style: italic;
}

.botón-build {
    align-self: flex-end;
    padding: 10px 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    background-color: #749d4f;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

.fijo {
    position: fixed;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    bottom: 0;
    right: 0;
    writing-mode: vertical-rl; /* Escribe el texto en vertical desde derecha a izquierda */
    transform: rotate(
      180deg
    ); /* Voltea el texto para que se lea de abajo hacia arriba */
    color: rgba(212, 212, 212, 0.685);
    background-color: rgba(55, 94, 18, 0.418);
    border: 2px solid #ffffff18;
    text-align: center;
    padding: 10px 0;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto flotante */
    z-index: 1000;
  }

/* FOOTER */
/*Selector  de ID */
#pie {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(22, 22, 22);
  text-align: center;
  padding: 3%;
}

/* Media Queries - Tabletas */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 14px;
  }

  .logo {
    width: 90%;
  }

  h1 {
    font-size: 3.5rem;
  }

  nav ul {
    padding: 2.5rem;
  }

  nav ul li a {
    font-size: 1.5rem; 
  }
  
  h2 {
    font-size: 3.2rem;
    margin-top: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .contenedor > img {
    width: 50%;
  }

  .botón-build {
    font-size: 1.5rem;
    align-self: center;
  }

  /* Footer */
  #pie {
    font-size: 1.4rem;
    padding: 2rem;
  }

  #pie > p {
    padding: 0rem 8rem 0rem 8rem;
   }
}

/* Media Queries - Télefonos */
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }

  .logo {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }

  nav ul li a {
    font-size: 1.5rem; 
  }
  
  h2 {
    margin-top: 2rem;
    font-size: 3rem;
  }

  .contenedor {
    flex-direction: column;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.5rem;
  }

  .contenedor > img {
    width: 100%;
  }

  .botón-build {
    font-size: 1.5rem;
    align-self: center;
  }

  /* Footer */
  #pie {
    font-size: 1.4rem;
    padding: 2rem;
  }
}